<div class="post-copyright">
    <div class="content">
        <p>最后更新： <%= post.updated.format("YYYY年MM月DD日 HH:mm") %></p>
        <p>原始链接： <a class="post-url" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.permalink %></a></p>
        <footer>
            <a href="<%- config.url %>">
                <img src="<%- url_for(theme.logo) %>" alt="<%- config.author %>">
                <%- config.author %>
            </a>
        </footer>
    </div>
</div>
